*{
    --PRIMARY: #124e96;
    --SECONDARY: #0d8abc;
    --SUCCESS: #b2d430;
    --INFO: #daeaf6;
    --WARNING: #f0d43a;
    --DANGER: #f23557;
    --WHITE: #F8F8F8;
    --BLACK: #000000;
    --GREY: #dee1ec;
}